@media  (min-width: 32.5em) { 
    body    {
        font-size: 1rem;
    }

    h1  {
        text-shadow: 1px 1px white;
    }

   .sections  {
       display: grid;
       grid-template-columns: 1fr 1fr;
       margin: .3rem 1.5rem 1rem 1.5rem;
   } 

    footer p    {
        display: flex;
        font-size: 1rem;
    }

    a:hover {
        color: red;
    }
}