/* WDD230 - lesson 9 in week 4 */
/* Kosei Kameta */

body, main {
	margin: 0 auto;
	align-items: center;
}

content h2 {
	font-size: medium;
	margin-bottom: 0rem;
}

content h4 {
	text-align: center;
}


header, footer {
	display: block;
    box-shadow: 0 0 8px 1px grey;
	background-color: #795548;
    padding: 0.6rem 0.6rem;
    color: white;
	text-align: center;
}

/* =========================== */

img {
    max-width: 90%;
    height: auto;
    margin-top: 0.8rem;
	margin-bottom: 0.4rem;
}

.cards {
	max-width: 96%;
	/* max-width: 500px; */

	margin: 0 auto;
	display: block;
	justify-items: center;
	text-align: center;

	padding-left: 0 1rem;
	padding-right: 0 1rem;
	padding-top: 1rem;
	padding-bottom: 0rem;
}

section {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 0.7px solid gray;
	background-color: #E7DFC6;
	padding: 0.2rem;
	padding-bottom: 0.5rem;
	margin: 1rem;

	border-radius: 5px 5px 5px 5px;
}


section:hover {
	box-shadow: 0 0 15px #333;
}


section h2 {
	font-size: medium;
	color: black;
	margin-top: 0.9rem;
	margin-bottom: 0.2rem;
	margin-left: 0.2rem;
	margin-right: 0.2rem;
}

birthdate {
	/* font-size: small; */
	font-style: italic;
	color: black;
	margin: 0.4em;
}

birthplace {
	/* font-size: small; */
	font-style: italic;
	color: black;
	margin: 0.4em;
}


/* ==== towns home box ==== */

.towns h2 {
	font-size: large;
	margin: 0.4em;
	margin-bottom: 1rem;
	font-style: normal;
  }

.towns h5 {
	margin: 0.4em;
	margin-bottom: 1rem;
	font-style: italic;
  }

.towns h4 {
	font-size: small;
	margin: 0em;
	font-style: normal;
  }
  
 
section img {
	margin: 0.4em;
	margin-bottom: 1rem;
  }
  
#message-wireframe {
	text-align: center;
	margin: 0.7rem;
}

.townPhoto{
	margin-top: 0.4rem;
	margin-bottom: 0.1rem;

}
 
.towns {
	flex: 1fr;
	flex-direction: row;
}

/* =========================== */


/* @media screen and (min-width: 35em) { */
@media screen and (min-width: 640px) {
	main {
		max-width: 96%;
	}

	.cards {
		max-width: 96%;

		display: grid;
        grid-template-columns: 1fr;
	}

	section {
		display: flex;
		margin: 0.7rem;

	}

	/* h2 {
		font-size: small;
		} */

	.towns {
		display: flex;
		flex: 1fr 1fr;
		flex-direction: row;
	}
	
	.towns img {
		width: 96%;
	}
}

/* @media screen and (min-width: 64em) { */
@media screen and (min-width: 940px) {
		main {
		max-width: 96%;
	}

	.cards {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.towns {
		flex: 1fr 1fr;
		flex-direction: column;
	}
	
	.townPhoto img {
		width: 50%;
	}

	/* h2 {
		font-size: medium;
		} */
		
	birthdate {
		font-size: small;
		}
		
	birthplace {
		font-size: small;
		}

	section {
		margin: 0.85rem;
	}
}
	
